{#
 # Available variables:
 # - menu__base_class - base classname of the wrapper.
 # - menu__blockname - blockname prepended to the base classname of the wrapper(s) and each component.
 # - menu__modifiers - array of modifiers to add to the base classname of the wrapper.
 # - menu__name - name of the menu.
 # - menu__attributes - array of attributes for the nav.
 # - menu__additional_classes - array of classes in addition to bem structure.
 # - menu__level - current menu level number in the hierarchy.
 # - menu__toggle - Boolean value for overall menu toggle.
 # - menu__level_toggle - Boolean value for toggles within each level in the hierarchy.
 # - items: A nested list of menu items. Each menu item contains:
 #   - attributes: HTML attributes for the menu item.
 #   - below: The menu item child items.
 #   - title: The menu link title.
 #   - url: The menu link url, instance of \Drupal\Core\Url
 #   - localized_options: Menu link localized options.
 #   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 #   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 #   - in_active_trail: TRUE if the link is in the active trail.
 #}
{% set menu__base_class = menu__base_class|default('menu') %}
{% set menu__blockname = menu__blockname|default('menu') %}
{% set menu__modifiers = menu__modifiers|default([]) %}
{% set menu__attributes = menu__attributes|default([]) %}
{% set menu__name = menu__name|default([]) %}
{% set menu__additional_classes = menu__additional_classes|default([]) %}

{% if menu__base_class != 'menu'%}
  {% set menu__base_class = menu__base_class ~ '-menu' %}
  {% set menu__additional_classes = menu__additional_classes|merge(['menu']) %}
{% endif %}

{% if menu__toggle or menu__level_toggle %}
  {% set menu__additional_classes = menu__additional_classes|merge(['menu-with-toggle']) %}
{% endif %}

{% set menu__attributes = menu__attributes|merge({
  'id': menu__base_class,
  'class': bem(menu__base_class, menu__blockname, menu__modifiers, menu__additional_classes),
  'role': 'navigation',
  'aria-labelledby': menu__base_class ~ '__label',
}) %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% macro menu_links(items, attributes, menu_level, menu__base_class, menu__modifiers, menu__blockname, menu__toggle, menu__level_toggle, item__base_class, item__modifiers, item__blockname) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level > 0 %}
      {% set menu__modifiers = ['sub', 'sub-' ~ menu_level] %}
    {% endif %}

    {% include "@molecules/menu/_menu-list.twig" %}
  {% endif %}
{% endmacro %}

{% import _self as menus %}

<nav {{ add_attributes(menu__attributes) }}>
  <h2 id="{{ menu__attributes['aria-labelledby'] }}" {{ bem('visually-hidden') }}>{{ menu__name|trans }}</h2>
  {% block menu_prefix %}
  {% endblock %}
  {{ menus.menu_links(items, attributes, 0, menu__base_class, menu__modifiers, menu__blockname, menu__toggle, menu__level_toggle, item__base_class, item__modifiers, item__blockname) }}
  {# Mobile nav toggle #}
  {% if menu__toggle %}
    {% include "@atoms/buttons/button.twig" with {
      button_content: 'Menu Open'|trans,
      button_base_class: 'toggle',
      button_blockname: menu__base_class,
      additional_attributes: toggle__attributes|default({'aria-expanded': 'false'}),
    } %}
  {% endif %}
  {% block menu_suffix %}
  {% endblock %}
</nav>
