{#
/**
 * Available variables:
 * - byline_content - the content of the byline (typically text)
 * - byline_author - the author of the byline (typically text)
 * - byline_pre - prefaces the author of the byline (typically text)
#}

{% set byline__base_class = byline__base_class|default('byline') %}

{# {% set date_time__attributes = {
  datetime: date_time__start|date(format__iso),
  class: bem('date-time'),
} %} #}



  <section {{ add_attributes(byline__attributes) }}>
    {% block byline__content %}
      {{ byline__content }}
      <div {{ bem('author', byline__modifiers, byline__base_class) }}> <span {{ bem('pre', byline__modifiers, byline__base_class)}}> {{ author_pre }} </span> {{ author }} </div>
      <div {{ bem('date', byline__modifiers, byline__base_class) }}> 
        {% include "@atoms/date-time/date-time.twig"  %} 
      </div>
    {% endblock %}
  </section>

